div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"] {
  display: flex;
  justify-content space-between;
}

.code-copy {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  svg {
    position: relative;
    right: 0;
    bottom: 0 !important;
  }
}
